@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Forum.Models.ForumThread>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Forum", FormMethod.Get))
{
    <input type="text" name="search" /><input type="submit" value="Search" />
}

<table>
    <tr>
        <th>@Html.ActionLink("Sort by name", "Search", new { sortBy = ViewBag.SortNameParameter, search = Request["search"] }) </th>
    </tr>
    @foreach (var thread in Model)
    {
       
        <tr>
            <td>
                @Html.ActionLink(thread.Title , "Details", "ForumThread" , new { id = thread.ForumThreadId }, null)
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Search", new { page, sortBy = Request["sortBy"], search = Request["search"] }))
